body {
  margin: 0px;
  font: black;
  font-family: sans-serif;
  background: white;

  width: 100vw;
  height: 400vw;

  background-color: cyan;
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 500vh;
}

.Todo-Item:hover .trash-icon {
  display: block;
}

a#signout {
  text-decoration: none;
  font-weight: 500;
  border: purple;
}
